global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'datacollector'
    static_configs:
      - targets: ['datacollector:9999'] # Usa il nome del servizio Docker e la porta delle metriche

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']